.addPostFormContainer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 80%;
    margin-top: 20px;
}

.inputPost {
    min-width: 300px;
    height: 30px;
    margin-right: 20px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
}
.button {
    height: 30px;
    min-width: 60px;
    margin-right: 10px;
    color: white;
    background-color: dodgerblue;
    border: none;
    font-size: 14px;
    border-radius: 5px;
}
.button:hover {
    background-color: #1369be;
}

.button:active {
    color: black;
    background-color: dodgerblue;
}