.user {
    color: yellow;
    padding: 10px;
}

.AddPost {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 10px;
}

.post {

    font-size: 14px;
    border-radius: 5px;
    border: none;
}