.appWrapper {
    font-family: "Maven Pro", serif;
    /*margin: 0 0 0 100px;*/
    display: grid;
    width: 100%;
    min-height: 100vh;
    height: 100%;

    border-radius: 5px;
    grid-template-areas:
    "h h"
    "n c"
    "f f";

    grid-template-rows: 60px 2fr 60px;
    grid-template-columns: 2fr 10fr;


}

.appWrapperContent {
    grid-area: c;
    border-radius: 5px;

}

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;

}




